<!DOCTYPE html>
<html lang="pt-br" ng-app="TransacoesModule">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <script src="../js/transacoes.module.js"></script>
        <script src="../js/transacoes.controller.js"></script>
        <link rel="stylesheet" src="../css/reset.css">
        <link rel="stylesheet" src="../css/transacoes.module.scss">
        <title>Transações</title>
    </head>
    <body ng-controller="TransacoesController">
       
    </body>

</html>